{% extends "base.html" %} {% block styles %} {{super()}} {% endblock %} {% block
title %}Pets{% endblock %} {% block content %}

<h1>Pets</h1>
<div class="url-container">
  {% for pet in pets %}
  <div class="pet-container">
    <img src="{{pet.photo_url}}" alt="{{pet.name}}" />

    <p>
      <a href="/pet/{{pet.id}}">{{pet.name}}</a>

      {% if pet.available %}

      <b>is available! </b>

      {% endif %}
    </p>
  </div>
  {% endfor %}
</div>
<br />
<br />
<a href="/add" id="Button1">Add a Pet</a>

{% endblock %}
