{% extends "base.html" %} {% block styles %} {{super()}} {% endblock %} {% block
title %}Pet Detail Page{% endblock %} {% block content %}

<body>
  <div class="'container">
    <img src="{{pet.photo_url}}" alt="Picture of {{pet.name}}" />

    <h1>{{pet.name}}</h1>

    {% if pet.species %}
    <h2>{{pet.species}}</h2>
    {% endif %} {% if pet.age %}
    <h2>{{pet.age}} years old</h2>
    {% endif %}
    <br />

    <h2>Edit Pet</h2>
    <form action="/pet/{{pet.id}}/edit" method="POST">
      {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
      'hidden' %}

      <p>
        {{field.label}} {{field}} {% for error in field.errors %} {{error}} {%
        endfor %}
      </p>
      {% endfor %}

      <a href="/pet/{{pet.id}}" id="Button3">Cancel</a>
      <a href="/" id="Button4">Save</a>
    </form>
  </div>
</body>
{% endblock %}
